.app {
  font-family: sans-serif;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  height: auto;

}



img {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
table{
  border:0.7px solid #f2f2f2;
  margin:0 auto ;
}
th{
  min-width:80px;
  border:0.5px solid  #f2f2f2;
}
td{
  min-width:80px;
  border:0.5px solid  #f2f2f2;

}

tbody>tr:nth-child(even) {
  background-color: #f2f2f2;
}
.user{
  width: 40%;
  background-color: #f2f2f2;
  border:1px solid gold;
  margin:0 auto;
  
}

.user > img{
  width: 180px;
  height: auto;
}
