body{
    box-sizing: border-box;
}


.MainBody{
    max-width: 950px;
    height: auto;
    margin: 0 auto;

    padding: 10px;
    font-size: 19px;
}

header{
    display: flex;
    justify-content:space-between;
}

.headerLeft{
    width:5%;
    height: auto;
}
.headerRight{
    width:60%;
    height: 90%;
}

.li2{
    background-color: red;
}
.li2 a{
    color: white;
}

.algn{
    display: flex;
    justify-content: center;
    align-content: center;
}

.progressTitle{
    margin-left: 6%;
}

.progressBar{
    width: 95%;
    height: 24px;
    background-color:#bbb;
    border-radius: 13px;
    padding: 3px;
    margin:1px auto;   
}
.progress{
    width:45%;
    height: 23px;
    border-radius: 10px;
    background-color: dodgerblue; 
}


.nextbutton{
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;

}

.headerClass{
    display: flex;
}

.headerLeft{
  justify-content: flex-start;
}
.headerRight{
    justify-content: flex-end;
}

.nextbutton input{
    width: 150px;
    height: 60px;
}
.headerRight li{
    list-style-type: none;
    margin:10px;
    border:2px solid whitesmoke;
    border-radius: 7px;
}
.headerRight a{
    text-decoration: none;
}
