body{
    box-sizing: border-box;
}


.MainBody{
    max-width: 950px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    font-size: 19px;
}

header{
    display: flex;
    justify-content:space-between;
}

.headerLeft{
    width:15%;
    height: auto;
}
.headerRight{
    width:60%;
    height: 90%;
}
.li4{
    background-color: red;
}
.li4 a{
    color: white;
}

.algn{
    display: flex;
    justify-content: center;
    align-content: center;
}

.progressTitle{
    margin-left: 6%;
}

.progressBar{
    width: 95%;
    height: 24px;
    background-color:#bbb;
    border-radius: 13px;
    padding: 3px;
    margin:1px auto;   
}
.progress{
    width:93%;
    height: 23px;
    border-radius: 10px;
    background-color: dodgerblue; 
}



.headerClass{
    display: flex;
}

.headerLeft{
  justify-content: flex-start;
}
.headerRight{
    justify-content: flex-end;
}

.imgboxLine{
    display: flex;

}
.bx{
    width:23%;
    height: auto;
    position: relative;
    border:1px solid black;
    margin: 4px;
    
}

.bx img{
    
    width:60%;
    height: auto;
    background-color: greenyellow;
    margin-left: 20%;
    }

.bx input{
    margin-left: 75%;
   
}


.tableBody{
    
    width:350px;
    height: 150;
   background-color: rgb(12, 112, 140);
   border-radius: 14px;   
   padding: 50px;
   
  
   
}
.tableBody input{
    border-radius: 7px;
    
    
    
}
.linelength{
    width:350px;
    height: 27px;

}


.nextbutton input{
    width: 150px;
    height: 60px;
    margin-left: 90%;;
}

.abc{
    height: 20px;
}

 
.headerRight li{
    list-style-type: none;
    margin:10px;
    border:2px solid whitesmoke;
    border-radius: 7px;
}
.headerRight a{
    text-decoration: none;
}