body{
    text-align: center;
    font-size: 22px;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    outline: rgb(230, 176, 60);
    grid-auto-rows: minmax(50px,auto);
    grid-gap: 5px;
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 7px;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "header header contact contact"
    "boldline boldline boldline boldline"
    "progskill progskill progskill progskill"
    "education education education education"
    "experience experience experience experience"
    "language language language language";
}
@media screen and (max-width:700px){
    #container{
        display: grid;
        outline: rgb(230, 176, 60);
        grid-auto-rows: minmax(50px,auto);
        grid-gap: 5px;
        margin: 0 auto;
        grid-gap: 7px;
        grid-template-areas: 
        "h1 "
        "header"
        "contact"
        "boldline"
        "progskill"
        "progskill"
        "education"
        "experience"
        "language"
        "language";
    }
    #prog-skill{
      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        margin-top: 70px;
    
    }
    #front-end{
        
        grid-column: 1/2;
    }
    #back-end{
     
        grid-column: 2/3;

    }
    /* #tester{
      
    }
    #other{
       
    } */

}

h1{
    grid-area: h1;
    color: blue; 
    font-size: 40px;
    padding-top: 4px;
}

header{
    grid-area:header;
    text-align: left;

}
#contact{
    grid-area: contact;
    text-align: left;
}
#boldline{
    grid-area: boldline;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    background: linear-gradient(45deg, rgb(151, 231, 45), rgb(40, 210, 233));
    width: 100%;
    height:7px;
    border-radius: 8px;
    transform: rotate(-2deg);
    margin-top: 40px;
}
#prog-skill{
    grid-area: progskill;   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 70px;
    
}
#prog-skill h2{
    grid-column: 2/4;
    margin: 0 auto;
}

#front-end{
    grid-area: frontend;
    grid-column: 1/2;
}
#back-end{
    grid-area: backend;
    grid-column: 2/3;
}
#tester{
    grid-area: tester;
    grid-column: 3/4;
}
#other{
    grid-area: other;
    grid-column: 4/5;
}
#education{
    grid-area: education;
    display: grid;
    margin-top: 40px;
}
#experience{
    grid-area:experience;
    display: grid; 
    min-height: 200px;
    
}
#language{
    grid-area: language;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(30px) minmax(90px)
}
#turkish{
   grid-column: 1/2;
    
}
#english{
    grid-column: 2/3;

}
#danish{
    grid-column: 3/4;
}
#language h2{
    grid-column: 2/3;
}

ul{
    list-style-type: none;
}
#foto{
    border-radius: 50%;
    grid-column: 5/7;
    width: 140px;
    margin-top: -65px;

}
.content::after{
    content:'';
    width:20px;
    height: 20px;
    border-radius: 50%;
    background:  rgb(240, 240, 240);
    position: absolute;
    left:-39px;
    transform: translatey(-50%) ;
    border: 0.5px solid;
    top: -19px; 
  
  }


  #education::before{
    content: '';
    width: 5px;
    height: 103%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    position: absolute;
    margin-top: 100px;
  
    }
    #experience::before{
        content: '';
        width: 5px;
        height: 80%;
        border-radius: 5px;
        background-color:  rgb(240, 240, 240);
        position: absolute;
        margin-top: 100px;
      
        }
    
    .content{
      background-color: rgb(240, 240, 240);
      padding: 10px;
      margin:20px 0 20px 30px;
      border-radius: 18px;
      min-height: 100px;
      position: relative;
    }
span{
    margin-left: -410px;
}



.center{
    width:200px;
    height: 100px;
  margin: 40px 40px 40px 40px;
  float: left;
    
    position: relative;
    background:white;
    box-sizing: border-box;
    box-shadow: 0 20px 60px rgba(0 0 0 0.5px);
    border-radius: 10px;
  }
  
  .center h4{
    letter-spacing: 5px;
    color:black;
  }
  .barBox p{
    color:black;
    letter-spacing: 2px;
    font-weight: bold;
    
    margin:0 0 0 150px;
  }
  
  .percentageBar{
    background: #262626;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid #0fffb7;
    border-radius: 6px;
  }
  .percentageLevel{
    background: #0fff67;
    width:100%;
    height: 10px;
    border-radius: 6px;
  
  }
    